<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Ciudad</title>
</head>
<body>

<h1>Editar Ciudad del Usuario</h1>
<form action="/registration" method="POST">
<select name="city" id="city">
    <option th:each="city : ${cities}"
            th:value="${city.id}"
            th:text="${city.name}"
            th:selected="(${city.id} == ${user.city.id})">

    </option>
</select>
    <br>
    <input type="submit" value="Guardar"></input>
</form>
</body>
</html>