<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Restaurant</title>
    <link rel="stylesheet" href="css/star.css">
    <style>
       #map {
        height: 400px;
        width: 50%;
       }
       .rate-area {

  float: left;

  border-style: none;

}



.rate-area:not(:checked) > input {

  position: absolute;

  top: -9999px;

  clip: rect(0,0,0,0);

}



.rate-area:not(:checked) > label {

  float: right;

  width: 1em;

  padding: 0.1em;

  overflow: hidden;

  white-space: nowrap;

  cursor: pointer;

  font-size: 400%;

  line-height: 1.2;

  color: lightgrey;

  text-shadow: 1px 1px #bbb;

}



.rate-area:not(:checked) > label:before { content: '★ '; }



.rate-area > input:checked ~ label {

  color: gold;

  text-shadow: 1px 1px #c60;

  font-size: 450% !important;

}



.rate-area:not(:checked) > label:hover, .rate-area:not(:checked) > label:hover ~ label { color: gold; }

.rate-area > input:checked + label:hover, .rate-area > input:checked + label:hover ~ label, .rate-area > input:checked ~ label:hover, .rate-area > input:checked ~ label:hover ~ label, .rate-area > label:hover ~ input:checked ~ label {

  color: gold;

  text-shadow: 1px 1px goldenrod;

}



.rate-area > label:active {

  position: relative;

  top: 2px;

  left: 2px;

}
    </style>
</head>
<body>


  <h1>Restaurant</h1>
  <b>Id:</b> <p th:text="${restaurant.id}"></p>
  <b>Restaurant:</b> <p th:text="${restaurant.name}"></p>

  <b>Descripcion:</b> <p th:text="${restaurant.descripcion}"></p>

  <b>Ubicacion:</b> <p th:text="${restaurant.ubicacion}"></p>

  <b>Categoria:</b> <p th:text="${restaurant.category.name}"></p>

  <b>City:</b> <p th:text="${restaurant.city.name}"></p>

  <b>Foto:</b> <p th:text="${restaurant.foto}"></p>

  <b>Nivel Asignado:</b> <p th:text="${restaurant.levelRestaurant.name}"> </p><p th:text="${restaurant.levelRestaurant.rating}"></p>

  <b>Nivel de los Comentarios:</b><p th:text="${ratingReal.name}"> </p><p th:text="${ratingReal.rating}"></p>
  
  <div>
      <div>
          Ingresar Ruta
          <b>Longitud:</b> <input  id="lng1" value="">
          <b>Latitud:</b><input  id="lat1" value="">
      </div>
      <div>
          Destino
          <b>Longitud:</b><input  id="lng" th:value="${restaurant.longitud}"type="text"readonly>
          <b>Latitud:</b><input id="lat" th:value="${restaurant.latitud}"type="text"readonly>
      </div>
      <input type="submit" id="submit">
  </div>

  <div id="map"></div>


  <form action="/like" method="POST">
      <input type="hidden" name="restaurant" th:value="${restaurant.id}">

      <button type="submit" value="Like">Like</button>
  </form>
  <br>
  <p>Likes: </p><b th:text="${restaurant.likes.size()}"></b>



  <form action="/comment" method="POST">
        <b>Comentario:</b>

        <input type="hidden" name="restaurant" th:value="${restaurant.id}">
        <textarea name="text" id="text" cols="30" rows="10"></textarea>
        <br>
       <ul class="rate-area">

         <input type="radio" id="fivestar" name="rating" value="5" /><label for="fivestar" title="Amazing">5 stars</label>

         <input type="radio" id="fourstar" name="rating" value="4" /><label for="fourstar" title="Good">4 stars</label>

         <input type="radio" id="treestar" name="rating" value="3" /><label for="treestar" title="Average">3 stars</label>

         <input type="radio" id="twostar" name="rating" value="2" /><label for="twostar" title="Not Good">2 stars</label>

         <input type="radio" id="onestar" name="rating" value="1" /><label for="onestar" title="Bad">1 star</label>

       </ul>

        <input type="submit" value="Guardar"></input>
  </form>
  <p th:each="comment : ${restaurant.comments}" >
        <span th:text="${comment.text}"></span>

  </p>

  <a href="/">Ventana Principal</a>


  <script>

      async function initMap() {
        var directionsService = new google.maps.DirectionsService();
        var directionsDisplay = new google.maps.DirectionsRenderer();
        var lat=document.getElementById('lat').value;
        var lng=document.getElementById('lng').value;
        myLatlng = new google.maps.LatLng(lat,lng);
            var marker=new google.maps.Marker({
            position: myLatlng,
            map: map
            });

        var cochabamba = new google.maps.LatLng(lat,lng);
        var mapOptions = {
            zoom:9,
            center: cochabamba
        }
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);
        directionsDisplay.setMap(map);
        marker.setMap(map);

        document.getElementById('submit').addEventListener('click', function() {
            calcRoute(directionsService, directionsDisplay);
        });
    }

    function origen(posicion){
            var lat=document.getElementById('lat1').value;
            var lng=document.getElementById('lng1').value;
            myLatlng = new google.maps.LatLng(lat,lng);
            return myLatlng;
            }
    function destino(){
                var lat=document.getElementById('lat').value;
                var lng=document.getElementById('lng').value;
                end = new google.maps.LatLng(lat,lng);
                return end;
            }

        function calcRoute(directionsService,directionsDisplay) {
            var start = origen();
            var end = destino();
            console.log(start,end);
            var request = {
                origin: start,
                destination: end,
                travelMode: 'DRIVING'
            };
            directionsService.route(request, function(result, status) {
                if (status == 'OK') {
                directionsDisplay.setDirections(result);
                }
            });
        }

    </script>
  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV6HFK7LmM_pp27a4G7qNdm8C3yopBj1g&callback=initMap">
  </script>
</body>
</html>